{% extends "master.html" %}

{% block title %}
Add Blog Content
{% endblock %}

{% block body %}
<div class="container mx-auto ">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><h3>Blog Title</h3></label>
            <input type="text" class="form-control" name = "name">
           
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><h3>Blog Content</h3></label>
            <textarea class="form-control" name="content" ></textarea>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><h3>Blog Images</h3></label>
            <input type="file"
            class="form-control" name = "images">
          </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>


{% endblock %}
