{% extends "master.html" %}

{% block title %}
Krishna Block
{% endblock %}

{% block body %}
<div id="carouselExampleFade" class="carousel slide carousel-fade  my-2 mx-2">
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <img src="https://images.yourstory.com/cs/wordpress/2017/02/52-Blog.jpg?w=1152&fm=auto&ar=2:1&mode=crop&crop=faces"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://media.istockphoto.com/id/922745190/photo/blogging-blog-concepts-ideas-with-worktable.jpg?s=612x612&w=0&k=20&c=xR2vOmtg-N6Lo6_I269SoM5PXEVRxlgvKxXUBMeMC_A="
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<div class="mx-3 p-4 bg-dark">
    <div class="h-100 d-inline-block w-auto  mx-5">
        <img src="https://freepngimg.com/thumb/facebook/141088-logo-circle-facebook-download-hd.png"  style="height: 100px;" alt="">
    
    </div>
    
    <div class="h-100 d-inline-block w-auto  mx-5">
        <img src="https://static.vecteezy.com/system/resources/previews/022/101/104/original/spotify-logo-transparent-free-png.png"  style="height: 100px;" alt="">
    
    </div>
    
    
    <div class="h-100 d-inline-block w-auto  mx-5 " >
        <img src="https://pbs.twimg.com/profile_images/1417157967124721666/xShJF4Km_400x400.png" style="height: 100px;" class="rounded-circle" alt="">
    
    </div>
    
    <div class="h-100 d-inline-block w-auto  mx-5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Amazon_icon.svg/2500px-Amazon_icon.svg.png"style="height: 100px;" alt="">
    
    </div>

    <div class="h-100 d-inline-block w-auto  mx-5">
        <img src="https://images.crunchbase.com/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/zfvkuf2k98lacoqpqdiw"style="height: 100px;" alt="">
    
    </div>
</div>

<div class="container d-flex my-2 p-5">
    <div class="card" style="width: 350px;">
        <img src="https://st2.depositphotos.com/1003697/8476/i/450/depositphotos_84761634-stock-photo-startup-business-software-developer-working.jpg" class="card-img-top" alt="...">
      </div>
    

      <div class="card-body mx-2 col-3 text-center d-flex align-self-center ps-2 mx-5">

        <cite>
            Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur laudantium, blanditiis omnis dolorem aut explicabo ipsam nisi pariatur laboriosam praesentium tempore a accusantium vitae aliquam ea doloremque officia, molestiae eum maxime? Veritatis nisi cupiditate praesentium.
        </cite>
      </div>
</div>

<hr>

<div class="container d-flex my-2 p-5">
    <div class="card-body mx-2 col-3 text-center d-flex align-self-center ps-2 mx-5">

        <cite>
            Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur laudantium, blanditiis omnis dolorem aut explicabo ipsam nisi pariatur laboriosam praesentium tempore a accusantium vitae aliquam ea doloremque officia, molestiae eum maxime? Veritatis nisi cupiditate praesentium.
        </cite>
    </div>

    <div class="card" style="width: 350px;">
        <img src="https://media.istockphoto.com/id/1423794924/photo/shot-of-a-young-businessman-standing-with-his-arms-crossed-against-a-city-background.webp?b=1&s=170667a&w=0&k=20&c=J76x62pavonGxm_Pwo5Fhb7w4yx_q_IHchvNAoeCqFE=" class="card-img-top" alt="...">
    </div>
</div>

<hr>

<div class="container d-flex my-2 p-5">
    <div class="card" style="width: 350px;">
        <img src="https://cdn.careers.usc.edu/wp-content/uploads/sites/135/2023/03/1c8c57ccb8e02f8ebc927918a9e99665-1665682171741-480x288-center-middle.jpg?v=447302" class="card-img-top" alt="...">
      </div>
    

      <div class="card-body mx-2 col-3 text-center d-flex align-self-center ps-2 mx-5">

        <cite>
            Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur laudantium, blanditiis omnis dolorem aut explicabo ipsam nisi pariatur laboriosam praesentium tempore a accusantium vitae aliquam ea doloremque officia, molestiae eum maxime? Veritatis nisi cupiditate praesentium.
        </cite>
      </div>
</div>

<hr>

<div class="container d-flex my-2 p-5"> 
    <div class="card-body mx-2 col-3 text-center d-flex align-self-center ps-2 mx-5">

        <cite>
            Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur laudantium, blanditiis omnis dolorem aut explicabo ipsam nisi pariatur laboriosam praesentium tempore a accusantium vitae aliquam ea doloremque officia, molestiae eum maxime? Veritatis nisi cupiditate praesentium.
        </cite>
    </div>

    <div class="card" style="width: 350px;">
        <img src="https://media.gettyimages.com/id/1503273827/photo/portrait-business-and-woman-with-a-tablet-smile-and-web-designer-with-startup-success.jpg?s=1024x1024&w=gi&k=20&c=gK35wL33SFstAFbPFifr_KWAZr03bjeVIkBQLKKxNGo=" class="card-img-top" alt="...">
    </div>
</div>















  



{% endblock %}
